<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--dummy199-->
    <!--<add name="ULTIMUS" providerName="Oracle.DataAccess.Client" connectionString="user id=seblmis;password=seblmis_321;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.17.1.199)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ULTIMUS)))" />-->

    <!--ultimus_snap-->
    <add name="ULTIMUS" providerName="Oracle.DataAccess.Client" connectionString="user id=seblmis;password=seblmis;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.17.250.4)(PORT=1599))(CONNECT_DATA=(SERVICE_NAME=ULTIMUS)))" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>